.ng-invalid.ng-touched:not(form) {
    border-left: 3px solid red;
  }
  .form-control.ng-valid.ng-touched {

    border-left: 3px solid green;
  }

  
  .container{

    padding: 20px;
    background-color: cadetblue;
    
  }
  .P1{

    font-size: 3ppx;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;

  }
  .P2{
    color:rgb(112, 23, 23);    
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }