<!--The content below is only a placeholder and can be replaced.-->



<div class = "container">

 <h2 style="text-align: center" >{{title}}</h2> 
  <br> 
  <br>
  <br> 
  <p class="P2"> * is required field </p> 
  <br>
  <form #newUserForm="ngForm" (ngSubmit)="onSubmit(newUserForm)">
    <div class="col-xs-6 col-sm-6 col-md-6">
          <div class= "form group">
                <label class="P1">* UserName :</label> 
                        <input type="text" placeholder="User name"
                          required maxlength="5" class="form-control"
                          [(ngModel)]="userName" name="userName"
                          #uName="ngModel">
          </div>
    </div>
          <div *ngIf="!uName.valid && uName.touched">
              User name is required!
          </div>
       <br>   
     <div class="col-xs-6 col-sm-6 col-md-6">
      <div class= "form group">
            <label class="P1">* Password :</label> 
             <input type="password" placeholder="Password" required
                    [(ngModel)]="password" name="password" class="form-control"
                    #uPassword="ngModel">
              <div *ngIf="!uPassword.valid && uPassword.touched">
                 Password is required!
            </div>
       </div>
       </div>
       <br>
       <div class="col-xs-6 col-sm-6 col-md-6">        
          <div class= "form group">
              <label class="P1"> * Email :</label>
                <input email type="email" placeholder="Email"
                        required [(ngModel)]="email" class="form-control"
                        name="email" #uEmail="ngModel">
          </div>
      <div *ngIf="!uEmail.valid && uEmail.touched">
        Email is required ex: john.t@gmail.com.!
      </div>
     </div>
      <br>
     <div class="col-xs-6 col-sm-6 col-md-6">
      <div class= "form group">
           <label class="P1">Phone :</label>
            <input type="text" placeholder="Phone" required class="form-control input-sm"
              [(ngModel)]="uphone" name="phone" #uPhone="ngModel">
      </div>
      </div>
   
      <br>
      <br>
 
    <button class="btn btn-success float " type="submit" [disabled]="!newUserForm.form.valid">
      Register
    </button>
      <br>
      <br>
    <button class="btn btn-primary " type="button" (click)="newUserForm.reset()">
      Reset
    </button>
  
  </form>
</div>


  